body{
    font-family:'Poppins', sans-serif;margin: 0;
}
h1{
    font-size: 50px;
}

p{
    color: black;
    font-size:15px;
    text-align: justify;
}

.color-match{
     color: orangered;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding-right: 40px;
}

.main-topic{ 
    width: 50%;
    padding: 2%;
    margin-left:40 ;
}

.main-topic img{
    width: 100%;  
}
             
.link-button{
text-decoration: none;
background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 227, 71));   
 padding: 10px 40px;
 color: white;
 font-weight: 700;
 border-radius: 20px;
}

.top-work{
    margin-left: 80px;

}



.dream-big{
  background-image: url(images/7.png);
    background-repeat: no-repeat;
   
}

h2{
    font-size: 40px;
    text-align: center;
}

.experience-area h3{
    color: orangered;
    }

.recipies{
    margin: 0 auto;
    width: 50%;
    text-align: justify;   
}

#vagitable{
  
    width: 30%;
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    margin-left: 80px;
    border-radius: 40px;
}

#coffy{
  
    width: 30%;
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    margin-left: 80px;
    border-radius: 40px;
}



#baby-web{
    
    width: 30%;
    border-image-slice: 1;
    box-shadow: 10px 10px 40px gray;
    margin-left: 80px;
    border-radius: 40px;
}

.rating{box-shadow: 10px 10px 40px darkblue;
    border-image-slice: 1;
    height: 200px;
    border-radius: 20px;
    width: 90%;
    margin-left: 70px;
    background-image: linear-gradient(rgba(16, 1, 70, 0.993),rgb(4, 0, 255)); 
}

.heading {
    font-size: 25px;
    padding-left: 460px;
    color: blanchedalmond;
  }
  .review{
      color: wheat;
      padding-left:460px ;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }


.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    padding-top: -10px;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }




#follow{
    box-shadow: 10px 10px 40px gray;
    border-image-slice: 1;
    height: 200px;
    border-radius: 20px;
    width: 90%;
    margin-left: 70px;

}
.follow-us{
    width: 100%;
    margin-left: 100px;
}

.footer{ height: 200px;
width: 100%;background-color: black;
text-align: center;color: cyan;
padding-top: 10px;}
.food{
    color: orangered;
}